@charset "UTF-8";
*{
	/* font-family: 'Source Sans Pro', sans-serif !important;  */
	/* font-family: 'Raleway', sans-serif !important;; */
	/* 1 font-family: 'Montserrat', sans-serif !important; ; */
	font-family: 'Crimson Text', serif;
	/* font-family: 'Quicksand', sans-serif; */
	font-size: 1.05rem;
}

.bgcolor1 {
	background-color: #48bdc5;
}

.bgcolor2 {
	background-color: #5bc4cb;
}

.bgcolor3 {
	background-color: #6fcbd1;
}

.color1 {
	color: #48bdc5;
}

.color2 {
	color: #5bc4cb;
}

.color3 {
	color: #6fcbd1;
}

body{
	
}
@media only screen and (max-width: 991px) {
	.display-none-small {
		display: none;
	}
}

.flexContainer {
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  flex-wrap: wrap;
}

.galeryBox {
  margin-right: 100px;
  margin-left: 100px;
}

.galery{
 
  text-align: center;
  max-width: 320px;
  margin: 2em;
  padding: 0;
  justify-content: space-around;
  
}

@media screen and (max-width: 820px){

	.flexContainer {
    width: 95%;
    margin: auto;
  
  }
  
  .galeryBox {
    margin-left: 10px;
    margin-right: 10px;
  }
}


.container-fluid {
	
}

.carousel-container {
	
}

.carousel-inner{
	margin: 0 auto;
	max-height: 65vh;
}

@media only screen and (max-width: 920px) {
	.carousel-inner{
	
	max-height: 45vh;
}
	
}

@media only screen and (max-width: 399px) {
	.carousel-inner{
	
	max-height: 35vh;
}
	
}

.navbar{
	transition-duration: 0.6s;
}

/* jQuery Styles */
.navbar-scroll {
	background: #3C96B4;
	padding: 0.05rem;
	transition-duration: 0.6s;
}


.btn-primary{
	background-color: #48bdc5;
	border: 1px solid white;
}


a.btn.btn-primary.btn-lg.text-center:hover{
	background: #3C96B4;
	border: 1px solid black;
	
}

